<div class="about row">

    <div class="col-md-8">

        <h2>About ME</h2>

        <p>智能卡工程，商用密码产品从业人员，抠腚谋生。红十字志愿者，铁路爱好者，业余无线电爱好者，地理爱好者，持证法律爱好者，证件收藏爱好者。已婚已育。</p>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email1 }}" target="_top">{{ site.email1 }}</a>&nbsp;<a href="mailto:{{ site.email2 }}" target="_top">{{ site.email2 }}</a></li>
            <li>GitHub:<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>CSDN:<a href="{{ site.csdn_page }}">{{ site.csdn_page }}</a></li>
            <li>掘金:<a href="{{ site.juejin_page }}">{{ site.juejin_page }}</a></li>
            <li>Telegram:<a href="https://t.me/{{ site.telegram }}">@{{ site.telegram }}</a></li>
            <li>微博:<a href="{{ site.weibo }}">@{{ site.weibo_name }}</a></li>
        </ul>

        <h2>Skill Keywords</h2>

        {% if site.skill_program_language_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Program Language 开发语言</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_program_language_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_it_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">IT Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_it_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_cryptography_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Cryptographic Algorithm 密码算法</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_cryptography_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_smart_card_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Smart Card 智能卡</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_smart_card_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_certificate_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Certificate 资格证书</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_certificate_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>